.env
.env.*
!.env.example

envs.txt
get_env.txt

login_tmp.json
preview_token.json

pid.txt

r1.json
r2.json
r3.json
result_t1.json
result_t5.json

node_modules/
dist/
build/
.next/
out/

.vscode/
.idea/

.DS_Store
Thumbs.db
